$border_radius: 50px;

@import "./dark";
@import "./responsive";
@import "./animations";

.logo img {
  border-radius: $border_radius;
}

mark#changingText {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.mainImg {
  position: relative;
  top: 0;
  left: 0;
  transition-duration: 500ms;
  width: 50vw;
}
.imgSubject {
  position: absolute;
  width: 50%;
  left: calc(25vw - 3px);
  transition-duration: 500ms;
  padding-top: 0.4rem;
}

i.fa {
  margin-left: 10px;
  margin-right: 10px;
}
#certs iframe {
  margin-right: 20px;
  margin-left: 20px;
}
.dark-img {
  display: none;
}
.light-img {
  display: inline;
}
.cert-name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: black;
}
section h2 {
  font-size: 1.9rem
}
section h3 {
  font-size: 1.5rem;
}
#certs aside {
  width: 200px;
}
#certs aside img {
  width: 100%;
}
.featured-img {
  max-width: 97vw;
  width: 45vw;
}
#facts aside {
  cursor: pointer;
}
